<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title All Books | Averagereads
        script(src="js/all-books-search.js")
    body
        include navbar.pug
        section.section
            div.container.mb-5
                div.columns.is-centered
                    form.is-centered(id="search-form" method="POST" action="/search-books")
                        div.field.has-addons
                            div.control
                                input.input(type="text" placeholder="Find a Book" name="query")
                            div.control
                                button.button.is-warning(type="submit" id="author-btn") Search
            div.container
                .tile.is-ancestor
                    .tile.is-parent.is-vertical.box(id="list")
                        each Book in bookResults
                            .tile.is-parent.box
                                div.tile.is-child.is-2
                                    img(src=`${Book.image}` width="100" height="130" class="botw")
                                div.tile.is-child.is-4
                                    div 
                                        p.has-text-weight-medium=Book.title
                                        p.has-text-weight-light=Book.author
                                    div
                                        button.button.is-danger(id=`details-btn` class=`${Book.id}` style="margin-top: 5%;") Details
                                .tile.is-child
                                    p.has-text-weight-light=Book.description
        include footer.pug
