<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", type="text/css" href="/style.css")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        title=book.title
    body
        include navbar.pug
        section.section
            div.container.box
                p.title=book.title
                div.tile.is-ancestor.has-text-centered
                    div.tile.is-parent.has-text-centered.is-vertical.is-2.box
                        .tile.is-child.has-text-centered
                            img(src=`${book.image}` width="140" height="180")
                        .tile.is-child.has-text-centered
                            p=book.author
                            p=`Published: ${date}`
                            p=`Rating: ${book.rating}`
                            p.is-size-7=`Publisher: ${book.publisher}`
                    div.tile.is-parent.has-text-centered.is-vertical.is-4.box
                        .tile.is-child.has-text-centered
                            p=book.description

        article(class="media")
            figure(class="media-left")

            div(class="media-content")
                div(class="field")
                p(class="control")
                    textarea(id="userComment" class="textarea" placeholder="Write your review...")

                nav(class="level")
                div(class="level-left")
                    div(class="level-item")
                        a(id="submitButton" class="button is-info") Submit

        p(class="bookId").is-hidden=book.id

        include comments.pug
        include footer.pug
script(src="js/comment.js")
