<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        link(rel="stylesheet", type="text/css" href="/style.css")
        title My Books | Averagereads
        script(src="js/bookshelf.js")
    body
        include navbar.pug
        section.section
            div.container
                div.tile.is-ancestor
                    .tile.is-12.is-parent
                        .tile.is-child.box
                            p.title John Doe
                            div.tile.box.is-4.is-fullwidth
                                img(src="images/116343579_3469288363105231_7752106790805590091_o.jpg", alt="", style="height: 100px")
        section.section
            div.container
                div.tile.is-ancestor
                    .tile.is-4.is-parent
                        .tile.is-child.box
                            p.title My Bookshelf
                            div.tile.box.is-12.is-fullwidth
                                p#reading 
                                    a Reading
                            div.tile.box.is-12.is-fullwidth   
                                p#wants-to-read 
                                    a Wants to read
                            div.tile.box.is-12.is-fullwidth    
                                p#have-read 
                                    a I have read
                    .tile.is-8.is-parent.wants-to-read.not-visible
                        .tile.is-child.box
                            p.title I want to read
                                each book in bwtr
                                    div.container.box.is-12
                                        span= book.title
                                        span= book.author
                                        span= book.description
                    .tile.is-8.is-parent.have-read.not-visible
                        .tile.is-child.box
                            p.title I have read
                                each book in bhr
                                    div.container.box.is-12
                                        span= book.title
                                        span= book.author
                                        span= book.description
                    .tile.is-8.is-parent.reading.not-visible
                        .tile.is-child.box
                            p.title I'm reading
                                each book in br
                                    div.container.box.is-12
                                        span= book.title
                                        span= book.author
                                        span= book.description
        include footer.pug