<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="js/index.js" type="module")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css")
        link(rel="stylesheet", type="text/css" href="/style.css")
        title My Books | Averagereads
        script(src="js/bookshelf.js")
    body
        include navbar.pug
        section.section
            div.container.box
                div.tile.is-ancestor(id="event-listener")
                    .tile.is-4.is-parent
                        .tile.is-child
                            p.title My Bookshelf
                            button.button.box.is-fullwidth#reading Reading
                            button.button.box.is-fullwidth#wants-to-read Want to read
                            button.button.box.is-fullwidth#have-read Completed
                    .tile.is-8.is-parent.wants-to-read.not-visible
                        .tile.is-child
                            p.title I want to read
                                each Book in br
                                    div.tile.is-ancestor.box
                                        .tile.is-parent.is-3
                                            div.tile.is-child
                                                img(src=`${Book.image}` width="100" height="130" class="botw")
                                        .tile.is-parent.is-3
                                            div.tile.is-child
                                                div(style="margin-left: 5%")
                                                    p.has-text-weight-medium=Book.title
                                                    p.has-text-weight-light=Book.author
                                        div.tile.is-parent.is-vertical
                                            .tile.is-child
                                                p.has-text-weight-light=Book.description
                                            div.tile.is-child.field.has-addons
                                                p.control
                                                    button.button.is-danger(id=`details-btn` class=`${Book.id}`) Details
                                                p.control
                                                    button.button.is-warning Start Reading
                    .tile.is-8.is-parent.have-read.not-visible
                        .tile.is-child
                            p.title Completed
                                each Book in bhr
                                    div.tile.is-ancestor.box
                                        .tile.is-parent.is-3
                                            div.tile.is-child
                                                img(src=`${Book.image}` width="100" height="130" class="botw")
                                        .tile.is-parent.is-3
                                            div.tile.is-child
                                                div(style="margin-left: 5%")
                                                    p.has-text-weight-medium=Book.title
                                                    p.has-text-weight-light=Book.author
                                        div.tile.is-parent.is-vertical
                                            .tile.is-child
                                                p.has-text-weight-light=Book.description
                                            div.tile.is-child.field.has-addons
                                                p.control
                                                    button.button.is-danger(id=`details-btn` class=`${Book.id}`) Details
                                                p.control
                                                    button.button.is-warning Archive
                    .tile.is-8.is-parent.reading.not-visible
                        .tile.is-child
                            p.title I'm reading
                                each Book in bwtr
                                    div.tile.is-ancestor.box
                                        .tile.is-parent.is-3
                                            div.tile.is-child
                                                img(src=`${Book.image}` width="100" height="130" class="botw")
                                        .tile.is-parent.is-3
                                            div.tile.is-child
                                                div(style="margin-left: 5%")
                                                    p.has-text-weight-medium=Book.title
                                                    p.has-text-weight-light=Book.author
                                        div.tile.is-parent.is-vertical
                                            .tile.is-child
                                                p.has-text-weight-light=Book.description
                                            div.tile.is-child.field.has-addons
                                                p.control
                                                    button.button.is-danger(id=`details-btn` class=`${Book.id}`) Details
                                                p.control
                                                    button.button.is-warning Completed
        include footer.pug
